body {
        font-family: Arial;
        background: #f1f1f1;
        margin: 0;
        padding: 0;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-container {
        width: 350px;
        height: 250px;
        perspective: 1000px;
    }

    .card {
        width: 100%;
        height: 100%;
        position: relative;
        transform-style: preserve-3d;
        transition: transform 0.7s;
        cursor: pointer;
    }

    .card.flip {
        transform: rotateY(180deg);
    }

    .side {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 10px;
        background: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
        padding: 15px;
    }

    .back {
        transform: rotateY(180deg);
    }

    .controls {
        margin-top: 20px;
        text-align: center;
    }

    button {
        padding: 10px 20px;
        margin: 5px;
        border: none;
        border-radius: 6px;
        font-size: 16px;
        cursor: pointer;
        background: #2196F3;
        color: white;
    }

    button:hover {
        background: #1976D2;
    }

    #counter {
        margin-bottom: 15px;
        font-size: 16px;
    }

    #progressContainer {
    width: 350px;
    height: 12px;
    background: #ddd;
    border-radius: 6px;
    margin-bottom: 15px;
}

#progressBar {
    height: 100%;
    width: 0%;
    background: #4CAF50;
    border-radius: 6px;
    transition: width 0.4s ease;
}
